
/* reset */
*{box-sizing:border-box;margin:0;padding:0}
html,body{height:100%}
body{
  background:#080808;
  color:#fff;
  font-family:'Poppins',sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow-x:hidden;
  background-image: var(--bg-image);
  background-size:cover;
  background-position:center;
  transition:background-position .12s linear;
}
